 {{ 'section-about.css' | asset_url | stylesheet_tag }}
<br>
 <div class="container-about">
   <div>
      <a class="tundo-about-font">Oriana Tundo, a Swiss native with italian-indian roots, <br>
        is an Artist working in Jewelry and Objects.
         <br>After operating as a freelance Designer <br>
         she launched her eponymous brand TUNDO in 2022.<br>
          The first collection is a series of repurposed Jewelry 
          <br>fetched all over the world, <br>
          put together in a new way with functional pieces and chains, <br>
          showing post consumed Jewelry in a new wearable way. 
          <br>Her background as a Chemistry Assistant 
          <br>and the Swiss metal industry takes a <br>
          big influence throughout her work - Galvanized metal <br>
          mixes with once-owned achievements and 
          <br>questions the decadence of mass consumption. <br>
          By creating limited collections, 
          <br>TUNDO remains on the pulse of the times ,<br>
           keeping up with the constant rapid change in fashion, 
          <br>without loosing the identity. 
          <br>Every piece is handmade and unique.</a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
   </div>
   <div class="info-tundo">
    <a class="tundo-about-font" href="https://www.secure.instagram.com/tundo_web/">INSTAGRAM: @tundo_web</a><br>
    <a class="tundo-about-font" href="MAILTO:info@tundo.website">E-MAIL: info@tundo.website</a>
    <a class="tundo-about-font" href=""></a>
   </div>
   <div>
    <a class="tundo-about-font" href="">LEGAL</a><br>
    <a class="tundo-about-font" href="">IMPRINT</a>
   </div>
 </div>

{% schema %}
{
   "name": "About",
  "settings": [
    {
   "type": "image_picker",
      "id" : "ABOUT",
      "label" : "About Page"
    }
  ],
  "presets": [
    {
        "name":"about"
    }
  ]
}
{% endschema %}