 {{ 'section-about.css' | asset_url | stylesheet_tag }}
<br>
 <div class="container-about">
   <div>
      <a class="tundo-about-font">Oriana Tundo, a Swiss native with italian-indian<br>
        roots, is an Artist working in Jewelry and Objects.
         <br>After operating as a freelance Designer she <br>
         launched her eponymous brand TUNDO in 2022.<br>
          The first collection is a series of repurposed
          <br> Jewelry fetched all over the world, put together <br>
          in a new way with functional pieces and chains, <br>
          showing post consumed Jewelry in a new weara-<br>
          ble way. Her background as a Chemistry Assistant 
          <br>and the Swiss metal industry takes a big influence <br>
          throughout her work - Galvanized metal mixes with <br>
          once-owned achievements and questions the
          <br>decadence of mass consumption. <br>
          By creating limited collections, TUNDO remains 
          <br>on the pulse of the times, keeping up with the <br>
           constant rapid change in fashion, without loosing 
          <br>the identity.
          <br>
          <br>
          <br>Every piece is handmade and unique.</a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
   </div>
   <div class="info-tundo">
    <a class="tundo-about-font" href="https://www.secure.instagram.com/tundo_web/">INSTAGRAM: @tundo_web</a><br>
    <a class="tundo-about-font" href="MAILTO:info@tundo.website">E-MAIL: info@tundo.website</a>
    <a class="tundo-about-font" href=""></a>
   </div>
   <div>
    <a class="tundo-about-font" href="/pages/legal">LEGAL</a><br>
    <a class="tundo-about-font" href="/pages/shipping">SHIPPING & RETURNS</a>
   </div>
 </div>

{% schema %}
{
   "name": "About",
  "settings": [
    {
   "type": "image_picker",
      "id" : "ABOUT",
      "label" : "About Page"
    }
  ],
  "presets": [
    {
        "name":"about"
    }
  ]
}
{% endschema %}