 {{ 'section-about.css' | asset_url | stylesheet_tag }}

 <div class="container-about">
   <div>
      <a>Ok</a>
   </div>
   <div>
    <a href="">@tundo_web</a><br>
    <a href="">info@tundo.website</a>
    <a href=""></a>
   </div>
   <div>
    <a href="">LEGAL</a><br>
    <a href="">IMPRINT</a>
   </div>
 </div>

{% schema %}
{
   "name": "About",
  "settings": [
    {
   "type": "image_picker",
      "id" : "ABOUT",
      "label" : "About Page"
    }
  ],
  "presets": [
    {
        "name":"about"
    }
  ]
}
{% endschema %}