{{ 'section-shipping.css' | asset_url | stylesheet_tag }}
<br>
 <div class="container-shipping">
   <div>
      <a class="tundo-legal-font">Publisher Phone +41 78 657 56 08<br>
        Email info@tundo.website<br>
        Editor Oriana Tundo<br>
        <br>
        DISCLAIMER<br>
        The author reserves the right not to be responsible for the topicality, correctness,<br>
        completeness or quality of the information provided. Liability claims regarding damage<br>
        caused by the use of any information provided, including any kind of information<br>
        which is incomplete or incorrect, will therefore be rejected. All offers are non-binding.<br>
        The author expressly reserves the right to change, supplement or delete parts of the<br>
        pages or the entire offer without prior notice or to cease publication temporarily or<br>
        permanently. Liability for links References and links to third party websites are<br>
        outside our area of responsibility. We decline any responsibility for such websites.<br>
        Access and use of such websites is at the user's own risk.<br>
        <br>
        COPYRIGHTS<br>
        The copyrights and all other rights to content, images, photos or other files on the<br>
        website belong exclusively or the specifically named copyright holders. For the reproduction<br>
        of any elements, the written consent of the copyright holders must be<br>
        obtained in advance.<br>
        <br>
        <br>
        <br>
        <br>
   </div><br>
 </div>

{% schema %}
{
   "name": "Shipping",
  "settings": [
    {
   "type": "image_picker",
      "id" : "SHIPPING",
      "label" : "Shipping Page"
    }
  ],
  "presets": [
    {
        "name":"shipping"
    }
  ]
}
{% endschema %}