{{ 'section-shipping.css' | asset_url | stylesheet_tag }}
<br>
 <div class="container-shipping">
   <div>
      <a class="tundo-legal-font">For any e-store inquiries please send us an email at info@tundo.website<br>
        <br>
        DELIVERY AND SHIPPING COSTS<br>
        The stated sales prices do not include shipping costs. We use normal parcel post or a<br>
        courier service for an additional charge. Please allow about three working days from<br>
        order date in Switzerland; abroad it may take 7-12 days.<br>
        <br>
        SWITZERLAND : free delivery<br>
        EU: 25 €<br>
        Rest of the World: 35 €<br>
        Free delivery worldwide for orders over 200 €<br>
        Please note that our shipping costs do not include import duties.<br>
        <br>
        RETURNS AND REFUNDS<br>
        You can return your items 14 days from your date of order. If you want to return an<br>
        item please email us. The returned items must be unused, in perfect condition and in<br>
        their original packaging in order to get a full refund.<br>
        <br>
        PAYMENTS<br>
        We accept payments through PayPal, Credit Cards and TWINT. We use a 3D secure<br>
        gateway on checkout to prevent fraud.<br>
        OR All information is encrypted using SSL encryption, which prevents unauthorized<br>
        access to card details.<br>
        <br>
        <br>
        <br>
        <br>
   </div><br>
 </div>

{% schema %}
{
   "name": "Shipping",
  "settings": [
    {
   "type": "image_picker",
      "id" : "SHIPPING",
      "label" : "Shipping Page"
    }
  ],
  "presets": [
    {
        "name":"shipping"
    }
  ]
}
{% endschema %}