.container-about {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    font-family:  'ABC Monument Grotesk';
    text-decoration: none;
    color: black;
    font-weight: 300;
}

@media screen and (max-width: 768px) {

    .container-about {
        display: flex;
        padding-inline: 50px;
        font-family:'ABC Monument Grotesk';
        font-weight: 300;
    }

    .product__info-wrapper grid__item {
        padding-left: 20px;
      }
    
}

.tundo-about-font {
    color: black;
    text-decoration: none;
    font-family:'ABC Monument Grotesk';
    font-size: 11px;
    display: contents;
}

