.tundo-campaigns-font {
    display: flex;
    justify-content: center;
    font-family: var(--font-body-family);
    font-weight: 500;
    text-decoration: none;
    color: black ;
    font-size: 14px;
}

.container-menu-campaigns {
    display: flex;
    justify-content: center;
  }

  .tundo-campaigns-font:hover {
    text-decoration-line: underline;
  }

  .tundo-campaigns-font:active {
    text-decoration-line: underline;
  }