#campaigns-image {
    width: 65%;
    height: 99%;
    display: list-item;
    display: block;
    margin: 0px auto;
      margin-left: auto;
    text-align: center;
    margin-left: 31%;
  }

  @media screen and (min-width: 750px) {
    campaigns-image {
        width: 65%;
        margin-left: 0px;
    }
  }